img {
    display: block;
    margin: auto;
  }
  
  #textbox {
    display: block;
    margin: auto;
  }
  
  #buttons {
    display: block;
    position: absoulute;
    left: 50%;
    text-align: center;
    padding: .5em;
  }
  
  li {
    display: inline;
  }
  
  #footer {
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
  }
  
  #s2 {
    float: right;
  }
  
  #s4 {
    float: right;
  }
  
  input[type="text"] {
    width: 200px;
  }
  
  .c {
    
  }